
@{
    ViewBag.Title = "购物车";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Shop.Models.T_Shop_Cart> cart = ViewBag.lst;
}

<div style="padding:5px">
    @{
        foreach (Shop.Models.T_Shop_Cart temp in cart)
        {
            <div class="media">
                <div class="media-left">
                    <div class="media-left">
                        <input type="checkbox" class="checkbox" id="check_@temp.Id" onclick="clickBox()" />
                        <input type="hidden" class="cartId" value="@temp.Id" />
                    </div>
                    <div class="media-body">
                        <a @*onclick="checkIsLoging(@item.Id)"*@ href="/shop/detail?Id=@temp.T_Shop_Product.Id" style="text-decoration:none;color:black">
                            <img class="media-object" style="width:64px;height:80px" src="~/Content/img/@temp.T_Shop_Product.PicUrl" alt="...">
                        </a>
                    </div>
                </div>
                <div class="media-body">
                    <a @*onclick="checkIsLoging(@item.Id)"*@ href="/shop/detail?Id=@temp.T_Shop_Product.Id" style="text-decoration:none;color:black">
                        <h4 class="media-heading">@temp.T_Shop_Product.ProductName</h4>
                    </a>
                    <p style="margin:15px 0px 0px 0px;">
                        <span style="color:red;font-size:20px;">￥<span id="price_@temp.Id" class="item_price">@temp.T_Shop_Product.price</span><input type="hidden" class="item_price_value" id="item_price_@temp.Id" value="@temp.T_Shop_Product.price" /></span> &nbsp;&nbsp;&nbsp;
                        <span style="float:right">数量：<button class="" onclick="minus(@temp.Id)" style="height:25px;width:20px;text-align:center" type="button">-</button><input onblur="updateCount(@temp.Id)" type="text" id="count_@temp.Id" style="width:40px;height:25px;text-align:center" class="item_count" value="@temp.Count"><button onclick="add(@temp.Id)" class="" style="height:25px;width:20px;text-align:center" type="button">+</button> 件</span>
                    </p>
                </div>
                <div>
                </div>
            </div>
        }
    }
</div>

<div style="position:fixed;bottom:40px;height:40px;background-color:antiquewhite;width:100%;">

    <button class="btn btn-default" style="height:35px;float:right;margin-top:2.5px;" onclick="settle_accounts()">结算</button>
    <p style="float:right;line-height:40px;padding-right:8px;font-size:18px;">合计：<span style="color:red;">￥</span><span style="color:red" id="total_price">0</span></p>
</div>

@section javascript{
    <script>
        function updatePrice() {
            total_price = 0;
            var lstGetId = document.getElementsByClassName("cartId");
            for (i = 0; i < lstGetId.length; i++) {
                var tempId = lstGetId[i].value;
                var price = Number($("#item_price_" + tempId).val());
                var count = Number($("#count_" + tempId).val());
                if ($("#check_" + tempId).is(':checked')) {
                    total_price += count * price;
                }
            }
            $("#total_price").html(total_price);
        }

        function clickBox() {
            updatePrice();
        }

        //$(window).load(function () {
        //    alert("hhh")
        //    var lstSetPrice = document.getElementsByClassName("item_price_value");
        //    var lstGetPrice = document.getElementsByClassName("item_price");
        //    var lstGetCount = document.getElementsByClassName("item_count");
            
        //    for (i = 0; i < lstSetPrice.length; i++) {
        //        lstSetPrice[i].value = Number(lstGetPrice[i].innerText) * Number(lstGetCount[i].value); 
                
        //    }
        //});
        function updateCount(Id) {
            var input_value = $("#count_" + Id);
            var count = Number(input_value.val());
            $.ajax({
                url: "/shop/UpdateCartCount",
                data: { count: count, cartId: Id },
                async: true,
                type: "POST",
                success: function (result) {
                    if (result.code == 1) {
                        //alert(result.message)
                        updatePrice();
                    }
                    else {
                        //alert(result.message)
                    }
                }
            })
        }
        function add(Id) {
            var input_value = $("#count_" + Id);
            var count = Number(input_value.val());
            if (count > 0) {
                count = count + 1;
                input_value.val(count);
                $.ajax({
                    url: "/shop/UpdateCartCount",
                    data: { count: count, cartId: Id },
                    async: true,
                    type: "POST",
                    success: function (result) {
                        if (result.code == 1) {
                            //alert(result.message)
                            updatePrice();
                        }
                        else {
                            //alert(result.message)
                        }
                    }
                })
            }

        }

        function minus(Id) {
            var input_value = $("#count_" + Id);
            var count = Number(input_value.val());
            if (count > 1) {
                count = count - 1;
                input_value.val(count);
                $.ajax({
                    url: "/shop/UpdateCartCount",
                    data: { count: count, cartId: Id },
                    async: true,
                    type: "POST",
                    success: function (result) {
                        if (result.code == 1) {
                            //alert(result.message)
                            updatePrice();
                        }
                        else {
                            //alert(result.message)
                        }
                    }
                })
            }
        }

        //点击结算按钮
        function settle_accounts() {
            var lstElement = document.getElementsByClassName("checkbox");
            var lstValue = document.getElementsByClassName("cartId");
            var signArray = new Array();
            for (i = 0; i < lstElement.length; i++) {
                if (lstElement[i].checked) {
                    signArray[i] = Number(lstValue[i].value);
                }
                else {
                    signArray[i] = 0;
                }
            }
            $.ajax({
                url: "/shop/Settle_accounts",
                data: { signArray: signArray },
                async: true,
                type: "POST",
                success: function (result) {
                    if (result.code == 1) {
                        window.location.href = "/shop/order";
                        alert(result.message)
                    }
                    else {
                        alert(result.message)
                    }
                }
            })
        }

    </script>
}